<div class="full-width-bg component homepage-highlights-band">

  <a name="about"></a>
	
  <h2>Hands-On Software Consulting Expertise</h2>
  
  	<p>
		  At DevWorx we understand the technical challenges, constraints and pressures inherent in the successful delivery of enterprise scale applications. 	
		  This crucial experience, built up laboriously over the course of many years, industries and projects is now available for you to call upon to make your project a success.
	</p>
	
	<h2>Resources</h2>
	
	<a target="_blank" href="https://github.com/DevWorxCo" class="button-cta secondary">
		<img src="{{site.baseurl}}/assets/images/github-logo.png">
		 DevWorx GitHub
	</a>
	
	<a target="_blank" href="mailto:info@devworx.co.uk" class="button-cta secondary">
		info@devworx.co.uk
	</a>
	
	<a target="_blank" href="https://linkedin.com/company/devworx-uk" class="button-cta secondary">
		 <img src="{{site.baseurl}}/assets/images/linked-in-logo.png">
		 DevWorx LinkedIn 
	</a>
	
	
	<h2>Projects</h2>
    <p>The DevWorx team draws its expertise from a range of successful projects and system over the course of many years at large enterprises. Here are a few highlights:   
          <ul>
              <li>Managed implementation of enterprise scale structured risk management, aggregation and regulatory reporting data lake with integrated quantitative analytics.</li>
              <li>Real-time, event driven data infrastructure to provide low latency market environments (e.g. yield curves) to front-office traders and users.</li>
			  <li>Settlements / Confirmations exception monitoring, management and resolution system rewrite to address scalability failures.</li>
              <li>Orchestration of service provisioning on large telecommunications network. Built-in optimisation for most efficient use of resources.</li>
			  <li>Data mining and query enablement applications in the energy and pharmaceutical sectors.</li>
          </ul>
        </p>
    
      <h2>Specialised Insights - Best of Breed Libraries and Standards</h2>
      <p>
			DevWorx delivers value by leveraging a number of best fo breed libraries in its projects. 
			Through real-world production use the team has gained a deep understanding as well as an appreciation of the 
			strengths and weaknesses of each of these frameworks.
	  </p>		
  <div class="grid-wrapper libraries-standards-band">

	 <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://terahelix.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_terahelix.png">
        <span>TeraHelix</span>
      </a>
    </div>

    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://hbase.apache.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_hbase.png">
        <span>Apache HBase</span>
      </a>
    </div>
 	<div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://spark.apache.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_spark.png">
        <span>Apache Spark</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://phoenix.apache.org" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_phoenix.png">
        <span>Apache Phoenix</span>
      </a>
    </div>
	<div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://nifi.apache.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_nifi.png">
        <span>Apache Nifi</span>
      </a>
    </div>
	<div class="grid__item width-2-12 width-6-12-m block">
      <a href="http://kafka.apache.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_kafka.png">
        <span>Apache Kafka</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://hadoop.apache.org/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_hadoop.png">
        <span>Apache Hadoop</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="http://lucene.apache.org/solr/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_solr.png">
        <span>Apache Solr</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://kubernetes.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_kubernetes.png">
        <span>Kubernetes</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://aws.amazon.com/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_aws.png">
        <span>Amazon AWS</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://azure.microsoft.com" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_azure.png">
        <span>Microsoft Azure</span>
      </a>
    </div>
	<div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://vaadin.com" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_vaadin.png">
        <span>Vaadin</span>
      </a>
    </div>
  
</div>

<p><br/></p>

      <h2>Let Us Know Your Requirements</h2>
      <p>
			While the technologies listed above offers a glimpse of the experience that DevWorx can provide, it is certainly not limited to this set. 
	  </p>
	  <p>
			<a href="{{site.baseurl}}/contact/index.html">Contact Us</a> and find out how can offer a service tailored to your project.
	  </p>		


