<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-12-12">
    <div class="home-hero">
      <img src="{{site.baseurl}}/assets/images/devworx-banner.png" class="project-logo" title="DevWorx Ltd.">
      <h2>Enterprise Software Development and Professional Services</h2>
      <h4>The expertise you need to make your next project a success</h4>
      <a href="{{site.baseurl}}/#about" class="button-cta secondary">About</a>
      <a href="#about" class="scroll-down" address="true"></a>
    </div>
  </div>
</div>
